.container {
    background-color: #fff;
    padding: 16px;
}

.sidebar{

}

.listNumber{
    color: #4196a4;
    font-size: 1.75rem;
    font-weight: 800;
}

.header {
    font-size: 15px;
    font-weight: 700;
}

.bodyText {
    text-align: right;
}