.subHeaderBackground {
    background-color: #FFFF;
}

.container {
    display: flex;
    color: 191919;
    font: 16px; 
    font-weight: 500;
    padding: 16px 0px;
    max-height: 53px;
    width: 80%;
    margin-left: 230px;
    margin-right: 35px;
    margin-bottom: 15px;
}

.linkPadding {
    padding-right: 28px;
}